body {
	margin: 10px;
}

a:visited {
	color: blue;
}

.col {
	width: 33%;
	display: inline-block;
	vertical-align: top;
	padding-left: 5px;
}

table,
th,
tr,
td {
	border-collapse: collapse;
	border: 1px solid #d3d3d3;
}
